<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.m2m.atl.core.model">
      <model
            model="org.eclipse.m2m.atl.reactive.model.EMFLazyModel"
            modelFactory="org.eclipse.m2m.atl.reactive.model.EMFLazyModelFactory"
            name="EMFLazy"
            referenceModel="org.eclipse.m2m.atl.core.emf.EMFReferenceModel"></model>
   </extension>
   <extension
         point="org.eclipse.m2m.atl.core.injector">
      <injector
            class="org.eclipse.m2m.atl.core.emf.EMFInjector"
            name="EMFLazy">
      </injector>
   </extension>
   <extension
         point="org.eclipse.m2m.atl.core.extractor">
      <extractor
            class="org.eclipse.m2m.atl.core.emf.EMFExtractor"
            name="EMFLazy">
      </extractor>
   </extension>

</plugin>
